@charset "UTF-8";
body {
  background: #EFEFEF; }

.flash4 {
  width: 1174px;
  height: 450px;
  margin: 0px auto;
  margin-bottom: 20px;
  position: relative; }
  .flash4 ul li {
    width: 106px;
    height: 450px;
    position: relative;
    overflow: hidden;
    float: left; }
    .flash4 ul li .imgTop img {
      opacity: 0.4; }
    .flash4 ul li .imgTop img.tm {
      opacity: 1; }
    .flash4 ul li .imgCon {
      width: 538px;
      height: 405px; }
    .flash4 ul li .imgCen {
      width: 538px;
      height: 50px;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 20px;
      line-height: 50px;
      position: absolute;
      left: 0px;
      bottom: 45px;
      text-indent: 20px;
      display: none; }
    .flash4 ul li .imgBot {
      width: 538px;
      height: 45px;
      background: #222; }
      .flash4 ul li .imgBot p.bt_1 {
        width: 80px;
        line-height: 45px;
        font-size: 16px;
        color: #fff;
        text-indent: 20px;
        float: left; }
      .flash4 ul li .imgBot p.bt_2 {
        width: 458px;
        height: 45px;
        line-height: 45px;
        float: left;
        display: none; }
        .flash4 ul li .imgBot p.bt_2 span {
          font-size: 14px;
          color: #fff;
          padding-right: 30px;
          padding-left: 10px; }

.flash4 ul li.first {
  width: 538px; }

.flash4 ul li.fast {
  position: absolute;
  right: 0px;
  bottom: 0px; }

/* 今日闪购开始 */
.main_title {
  background: #ffffff;
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  border-bottom: 1px solid #efefef;
  margin-top: 25px; }
  .main_title h1 {
    border-bottom: 2px solid #a40c59;
    float: left;
    margin: 20px 0 0 25px;
    display: inline;
    color: #a40c59;
    font-size: 18px; }
  .main_title a {
    display: block;
    color: #666666;
    font-size: 14px;
    text-align: center;
    width: 114px;
    height: 32px;
    border: 1px solid #dcdcdc;
    line-height: 32px;
    float: right;
    margin: 17px 20px 0 0;
    text-decoration: none; }

.leading {
  width: 1200px;
  margin: 0 auto; }
  .leading ul {
    overflow: hidden; }
    .leading ul li {
      width: 390px;
      float: left;
      background: #fff;
      overflow: hidden;
      position: relative; }
      .leading ul li .lead_img {
        width: 390px;
        height: 270px; }
        .leading ul li .lead_img img {
          width: 390px;
          height: 270px; }
      .leading ul li .lead_txt {
        padding: 20px; }
        .leading ul li .lead_txt p {
          font-size: 18px;
          color: #000;
          height: 26px;
          overflow: hidden; }
        .leading ul li .lead_txt span {
          color: #666;
          font-size: 12px;
          display: block;
          height: 18px;
          overflow: hidden; }
        .leading ul li .lead_txt label {
          font-weight: bold;
          font-size: 28px;
          display: block;
          color: #c8101f;
          padding-top: 5px; }
          .leading ul li .lead_txt label em {
            font-style: normal;
            font-size: 18px;
            float: left;
            font-weight: bold;
            padding-top: 7px; }
      .leading ul li .no {
        margin: 0px 15px; }
      .leading ul li .end_time {
        background: #a40c59;
        width: 214px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin: 0 auto;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        position: absolute;
        top: 0px;
        left: 88px;
        border-radius: 0 0 8px 8px; }
    .leading ul li:nth-child(1), .leading ul li:nth-child(2) {
      margin-right: 15px; }

/* 今日闪购结束 */
/* 1855列级名庄开始 */
.one {
  height: 1023px; }

.some_list {
  width: 1200px;
  margin: 0 auto; }
  .some_list ul li {
    width: 299px;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    height: 340px;
    background: #fff;
    float: left;
    color: #333;
    font-size: 14px;
    position: relative; }
    .some_list ul li .list_title {
      padding: 23px 20px 0 20px; }
      .some_list ul li .list_title p {
        overflow: hidden;
        width: 259px;
        height: 20px; }
    .some_list ul li list_content {
      padding: 0 20px; }
  .some_list ul li:hover {
    box-shadow: 0px 3px 3px #b3b3b3;
    position: relative;
    z-index: 1; }

.forsale_shop .forsale_detail:hover {
  box-shadow: 0px 3px 3px #b3b3b3;
  position: relative;
  z-index: 1; }

.list_title span {
  color: #cc0033;
  font-size: 24px;
  line-height: 45px; }
  .list_title span em {
    font-size: 20px;
    float: left;
    line-height: 30px; }

.list_content .label_left {
  width: 100px;
  float: left;
  padding-top: 100px; }

.list_content .img_right {
  float: left;
  width: 150px;
  text-align: right; }
  .list_content .img_right img {
    height: 205px; }

.label_left p {
  font-size: 12px;
  color: #333;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background: #f7f7f7;
  margin: 0 0 10px 0; }
  .label_left p em {
    font-size: 14px;
    color: #fff;
    width: 40px;
    text-align: center;
    float: left;
    background: #e79c36;
    margin: 0 8px 0 0; }

/* 1855列级名庄结束 */
/* 波尔多右岸名庄开始 */
.two, .three {
  height: 341px; }

/* 波尔多右岸名庄结束 */
/* 法国中级庄开始 */
/* 法国中级庄结束 */
/* 底部上面开始 */
.latest_news {
  color: #666;
  font-size: 12px;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 25px 0; }
  .latest_news .latest_news_left {
    background: #fff;
    width: 705px;
    margin-right: 10px;
    float: left; }
  .latest_news .news_title {
    border-bottom: 2px solid #a40c59;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    color: #a40c59;
    text-indent: 15px; }
    .latest_news .news_title a {
      float: right;
      font-size: 14px;
      padding-right: 20px;
      color: #666; }
  .latest_news .latest_news_right {
    background: #fff;
    width: 485px;
    float: left;
    height: 405px;
    overflow: hidden;
    height: 357px; }

.news_con .news_ing {
  float: left;
  width: 322px;
  padding: 0 10px 30px 0;
  height: 115px; }

.latest_news_left .news_con {
  height: 143px;
  padding-top: 30px;
  margin: 0 20px;
  font-size: 12px;
  color: #666;
  line-height: 23px;
  padding: 10px 0;
  clear: both; }

.latest_news_right ul li {
  margin: 0 20px;
  font-size: 12px;
  color: #666;
  line-height: 23px;
  padding: 10px 0;
  clear: both; }
  .latest_news_right ul li p {
    font-size: 14px;
    color: #393024; }
  .latest_news_right ul li .w {
    width: 150px;
    float: left;
    height: 92px; }
    .latest_news_right ul li .w img {
      width: 140px;
      height: 92px; }

.news_ing p {
  font-size: 14px;
  color: #393024; }

.news_ing .ing_img {
  width: 120px;
  float: left; }
  .news_ing .ing_img img {
    width: 110px;
    height: 110px; }

.news_con .solid {
  margin: 0 0 27px 0;
  border-bottom: 1px dotted #c9c9c9; }

/* 底部上面结束 */
